*.iml
/target
.idea
*.log

front/node_modules/
front/dist
front/coverage/
front/.sass-cache/
front/.tmp/
front/.angular/cache

appDir/*/app/*
appDir/*/tmp/*
appDir/*/data/*

appDir/CO/config/logback-spring.xml
appDir/*/config/devel.properties
