<ng-container *ngIf="drinks$ | async as drinks else loading">
    <h1>L'océan apporte sa réponse</h1>
    <img src="assets/pirate_hasard.webp" alt="Le hasard fait bien les chose. Probablement." class="responsive-img">
    <p>Après d'intenses palabres, <s>le conseil des sages</s> le conseil tout court te recommande les breuvages suivants :</p>
    <div *ngFor="let drink of drinks" class="drink">
        <drink-card [drink]="drink"></drink-card>
    </div>
</ng-container>
<ng-template #loading>
    <h2>L'Oracle réfléchit encore. La soif, tout ça...</h2>
</ng-template>
