<ng-container *ngIf="drinks$ | async as drinks else loading">
    <div class="title">{{getTitle()}}</div>
    <p-dataView [value]="drinks" layout="grid" >
        <ng-template let-drink pTemplate="gridItem">
            <div class="col-3">
                <div class="product-grid-item card">
                    <beer-card [drink]="drink"/>
                </div>
            </div>
        </ng-template>

    </p-dataView>
</ng-container>
<ng-template #loading>
    <p>Chargement en cours...</p>
</ng-template>
