.product-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.product-description {
    margin: 0 0 0.5rem 0;
}

.product-list-detail {
    flex: 1 1 0;
}

.product-grid-item-content {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.product-grid-item-top,
.product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}

.card {
    padding: 0.3rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightpink;
}
