<ng-container *ngIf="drinks$ | async as drinks else loading">
    <h3 class="mt-0">{{title}} {{drinks.title}}</h3>
    <div *ngIf="drinks.description" class="text-700 mb-5">{{drinks.description}}</div>

    <ng-container *ngIf="mobileDisplay else desktopDisplay">
        <div class="border-round surface-card shadow-1">
            <p-table [value]="drinks.content" dataKey="name" sortField="availability">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="name">
                            Nom <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="availability">
                            Dispo. <p-sortIcon field="availability"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-drink let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="drink" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <ng-container *ngIf="expanded else collapsed">
                                <h3><a [routerLink]="['/', 'drinks', drink.id]" class="no-underline">{{drink.name}}</a></h3>
                            </ng-container>
                            <ng-template #collapsed>
                                <div>
                                    <h4>{{drink.name}}</h4>
                                </div>
                                <div>
                                    {{drink.producerName + ' ' + drink.originFlag}}
                                </div>
                                <div>{{drink.styleName}}</div>
                                <div>{{drink.colorName + ' (' + drink.abv?.toFixed(1) + '%)'}}</div>
                            </ng-template>
                        </td>
                        <td><p-badge severity="{{drink.availability | availabilityColor}}" value="{{drink.availability | availabilityIcon}}"></p-badge></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-drink>
                    <tr>
                        <td colspan="7">
                            <beer-card [drinkId]="drink.id"/>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>

    <ng-template #desktopDisplay>
        <div class="border-round surface-card shadow-1">
            <p-table [value]="drinks.content" responsiveLayout="scroll" sortField="availability">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="availability">
                            Dispo. <p-sortIcon field="availability"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Nom <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="abv">
                            Alc. <p-sortIcon field="abv"></p-sortIcon>
                        </th>
                        <th pSortableColumn="styleName">
                            Type <p-sortIcon field="styleName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="colorName">
                            Color <p-sortIcon field="colorName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="producerName">
                            Producteur <p-sortIcon field="producerName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prices">
                            Prix (vol.) <p-sortIcon field="prices"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-drink>
                    <tr>
                        <td><p-badge size="large" severity="{{drink.availability | availabilityColor}}" value="{{drink.availability | availabilityIcon}}"></p-badge></td>
                        <td><a [routerLink]="['/', 'drinks', drink.id]" class="no-underline">{{drink.name}}</a></td>
                        <td>{{drink.abv | abv}}</td>
                        <td><a [routerLink]="buildStyleUrl(drink)">{{drink.styleName}}</a></td>
                        <td><a [routerLink]="buildColorUrl(drink)">{{drink.colorName}}</a></td>
                        <td><a [routerLink]="buildProducerUrl(drink)">{{drink.producerName}}</a></td>
                        <td>{{buildPricesDisplay(drink)}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-template>
</ng-container>
<ng-template #loading>
    <p>Chargement en cours...</p>
</ng-template>
