<ng-container *ngIf="drink$ | async as drink else loading">
    <div class="grid">
        <div class="col-6">
            <a [routerLink]="['/', 'drinks', 'styles', drink.style.id]">
                <span class="product-category">{{drink.style.name}} ({{drink.abv}}%)</span>
            </a>
        </div>
        <a [routerLink]="['/', 'drinks', 'colors', drink.color.id]">
            <span class="product-category col-6 align-content-end">{{drink.color.name}}</span>
        </a>
    </div>
    <p>{{drink.description}}</p>
    <div class="product-grid-item-bottom">
        <div *ngFor="let service of drink.services">
            <p-button [disabled]="drink.availability != 'AVAILABLE'" [pTooltip]="buildTooltip(drink)" icon="pi pi-shopping-cart" label="{{buildPriceDisplay(service)}}" styleClass="p-button-sm" (click)="addDrinkServiceToBasket(service)"></p-button>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <p>Chargement en cours...</p>
</ng-template>
