<div *ngIf="displayHeader$ | async"
     class="surface-overlay px-3 lg:px-6 flex align-items-center justify-content-between relative lg:static"
     style="min-height: 80px"
>
    <img src="assets/elephant_pirate_mini.png" alt="Image" class="mr-3 lg:mr-6">
    <div class="flex-grow-1">
        <p-menubar [model]="(items$ | async) ?? []"></p-menubar>
    </div>
    <div class="ml-3 lg:ml-6 align-items-end">
        <p-button
                icon="pi pi-shopping-cart"
                styleClass="p-button-rounded p-button-secondary p-button-text cart-button"
                [routerLink]="['/drinks/cart']"
        ></p-button>
    </div>
</div>
