@media screen and (max-width: 960px) {
    :host::ng-deep .p-menubar {
        position: unset !important;
    }
}

:host::ng-deep .p-menubar {
    padding: 0;
    border: none;
    background-color: transparent;
}

:host::ng-deep .cart-button > span {
    font-size: 1.5rem;
}
